.header-toolbar {
  min-height: 40px !important;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 1.1rem;
  cursor: pointer;
  height: 25px;
}

.header-btn {
  min-width: 32px;
  font-size: 0.95rem;
  padding: 4px 8px;
}

.header-toggle {
  min-width: 28px;
  width: 32px;
  height: 32px;
  padding: 2px 4px;
  margin-left: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-toggle svg {
  font-size: 1.1rem;
}
